asn1crypto==0.24.0
beautifulsoup4==4.6.0
certifi==2017.11.5
cffi==1.11.5
chardet==3.0.4
cryptography==2.4.2
cycler==0.10.0
Django==2.2.24
django-cors-headers==2.4.0
django-rest-knox==3.6.0
django-templated-mail==1.1.1
djangorestframework==3.9.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.0.0
djoser==1.4.0
fbchat==1.1.2
idna==2.8
jwt==0.6.1
kiwisolver==1.0.1
lxml==4.1.1
matplotlib==3.0.2
numpy==1.16.0
objectpath==0.6.1
pandas==0.23.4
pycparser==2.19
PyJWT==1.7.1
pymessenger==0.0.7.0
pyOpenSSL==18.0.0
pyparsing==2.3.1
python-dateutil==2.7.5
pytz==2018.9
requests==2.18.4
requests-toolbelt==0.8.0
selenium==3.141.0
six==1.12.0
urllib3==1.22
virtualenv==16.3.0
